.myReportComponent{
    display: flex;
    justify-content: space-between;
    background-color: #fcfcfc;
    border-radius: 15px;
    border: 1px solid #CCCCCC;
    padding: 27px 36px;
    align-items: center;
    cursor: pointer;
}

.myReportComponent:hover{
    background-color: #ececec;
}


.myReportComponent__info > *:not(:last-child){
    margin-bottom: 4px;
}

.info__title{
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.info__date{
    color: rgba(0, 0, 0, 0.5);
}

.myReportComponent__btn{
    position: relative;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.btn:hover{
    background-color: #d1d1d1;
}

.btn__menu{
    position: absolute;
    bottom: -150px;
    left: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
}

.btnMenu__item{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}