.searchInput{
    position: relative;
    height: 51px;
    flex-grow: 1;
}

.searchInput__input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    padding: 16px 20.16px;
    height: 51px;
    width: 100%;
}

.searchInput__input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.searchInput__image{
    position: absolute;
    right: 20px;
    top: 13px;
    cursor: pointer;
}