.card{
    cursor: move;
    display: flex;
    flex-direction: row;
    font-family: Steppe;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    gap:16px;
    align-items: center;
}